<main class="container mt-5">
    <h1>Shopping Cart</h1>
    <ol class="breadcrumb">
       <li class="breadcrumb-item">
        <LinkTo @route="index">
           Home
        </LinkTo>
        </li>
     
        <li class="breadcrumb-item">Shopping Cart</li>
    </ol>
     {{#each this.cart.itemList as |item|}}
        <div class="cart-item d-flex align-item-center">
            <div class="cart-item-thumbnail">
                <img src={{item.image}} alt={{item.name}}>
            </div>
            <div class="ml-3 d-flex flex-column">
                <h4>{{item.name}}</h4>
                <i class="fotn-weight-bold">Price: {{currency item.price sign="$"}}</i>
                <i class="fotn-weight-bold">Color: {{item.color}}</i>
            </div>
            <input 
            type="number" 
            class="ml-auto" 
            value={{item.count}}
            {{on "input" (fn this.updateItemCount item)}}
            >
        </div>
       
        {{/each}}
    <section class="w-50 ml-auto text-right mb-5">
        <div class="row">
            <span class="col">Subtotal</span>
            <span class="col">{{currency this.subtotal sign="$"}}</span>
        </div>
        <div class="row">
            <span class="col">Tax</span>
            <span class="col">{{currency this.tax sign="$"}}</span>
        </div>
        <div class="row">
            <span class="col">Total</span>
            <span class="col">{{currency this.total sign="$"}}</span>
        </div>
    </section>
    <button type="button" class="btn btn-success float-right">Check Out</button>
</main>